<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zy.jungletest">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.zy.jungletest.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.testActivity.TestGridViewActivity" />
        <activity android:name=".activity.testActivity.TestLolipopDemoActivity" />
        <activity android:name=".activity.testActivity.TextureViewDemo" />
        <activity android:name=".activity.testActivity.CustomViewActivity" />
        <activity android:name=".activity.testActivity.DatabaseTestActivity" />
        <activity android:name=".activity.testActivity.GestureDetectorTestActivity" />
        <activity android:name=".activity.testActivity.SlidingMenuTestActivity" />
        <activity android:name=".activity.testActivity.RetrofitTestActivity" />
        <activity android:name=".activity.testActivity.ExifInterfaceActivity" />
        <activity android:name=".activity.testActivity.RadarActivity" />
        <activity android:name=".activity.testActivity.AsyncTaskActivity" />
        <activity android:name=".mvpTest.activity.MVPTestActivity" />
        <activity android:name=".activity.testActivity.TouchEventTestActivity" />
        <activity android:name=".activity.testActivity.NestedScrollViewTestActivity" />
        <activity android:name=".annotationTest.AnnotationActivity" />
        <activity android:name=".activity.testActivity.LayoutManagerTestActivity" />

        <activity
            android:name=".activity.launchMode.LaunchModeTestActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.launchMode.LaunchModeAActivity" />
        <activity android:name=".activity.launchMode.LaunchModeBActivity" />

        <activity android:name=".activity.testActivity.RetrofitRxActivity" />
    </application>

</manifest>